.col-xl-3.d-flex.justify-content-center.my-4
  .container-fluid
    .card.shadow
      %h2.card-header.text-muted.shadow-sm= t('.classroom_info_title')
      .card-body
        %h5.card-title.text-center= @classroom.name
        .container-lg.border.rounded.mt-2.py-2.bg-light.shadow-sm
          - if @classroom.enrollments.present?
            %h3= t('.enrollments')
            #enrollments.container-fluid.border.rounded.bg-white.shadow-sm
              - @classroom.enrollments.each do |enrollment|
                .row
                  .col
                    = link_to "#{enrollment.student.name}", student_path(enrollment.student_id)
            #classroom-info.container.mt-5.border.rounded.bg-white.shadow-sm
              .text-muted= t('.enrollment_count', count: @classroom.enrollments.count)

          - else
            .card-text= t('.classroom_relations_info')
