= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'

= simple_form_for @classroom do |f|
  = f.input :name
  = f.input :school_period, collection: classroom_school_periods_for_select
  = f.input :year
  = f.submit
