= stylesheet_link_tag 'views/classrooms/show'

.container-fluid.my-4.bg-light
  .row
    = render 'classroom_info'

    .col-xl-9.my-4
      .container-fluid
        .card.classroom-attributes-content.shadow
          .card-header.shadow-sm
            .row
              .col.h2= t('.classroom_attributes_title')
              .col
                %ul.nav.justify-content-end
                  %li.nav-item
                    %li.nav-link
                      = link_to t('.edit'), edit_classroom_path(@classroom)
                  %li.nav-item
                    %li.nav-link
                      = link_to t('.delete'), classroom_path(@classroom),
                          method: :delete,
                            data: { confirm: t('.delete_data_confirm') }, class: 'text-danger'
          .card-body.my-4
            .container-fluid
              .table.border.rounded.shadow-sm.bg-light
                .tbody
                  %tr
                    .row.p-2.m-0.border-bottom
                      .col= Classroom.human_attribute_name(:name)
                      .col= @classroom.name
                  %tr
                    .row.p-2.m-0.border-bottom
                      .col= Classroom.human_attribute_name(:school_period)
                      .col= Classroom.human_attribute_name("school_period.#{@classroom.school_period}")
                  %tr
                    .row.p-2.m-0.border-bottom
                      .col= Classroom.human_attribute_name(:year)
                      .col= @classroom.year
