= simple_form_for @student do |f|
  = f.label :avatar
  .div.mb-2
    - if @student.avatar.present?
      = image_tag @student.avatar.edit_thumb.url
  = f.input_field :avatar
  = f.input :name
  = f.input :address
  = f.input :email
  = f.input :birthday
  = f.input :gender, collection: student_genders_for_select
  = f.input :disability
  = f.submit
