= simple_form_for @student do |f|
  = f.label :avatar
  .div.mb-2
    - if @student.avatar.present?
      = image_tag @student.avatar.edit_thumb.url
  = f.input_field :avatar
  = f.input :name
  = f.input :address
  = f.input :email
  = f.input :birthday
  = f.input :gender, collection: student_genders_for_select
  = f.input :disability
  %h3= t('.enrollments')
  #enrollments
    = f.simple_fields_for :enrollments do |enrollment|
      = render 'enrollments/enrollment_field', f: enrollment
    .links
      = link_to_add_association t('.add_enrollment'), f, :enrollments
  = f.submit
