= stylesheet_link_tag 'views/students/edit'

.container-fluid.my-4
  .row
    = render 'student_info'

    .col-xl-9.my-4
      .container-fluid
        .card
          .card-header
            .row
              .col.h2= t('.edit_student_attributes_title')
              .col
                %ul.nav.justify-content-end
                  %li.nav-item
                    %li.nav-link
                      = link_to t('.back'), student_path(@student), class: 'show-student-link'
                  %li.nav-item
                    %li.nav-link
                      = link_to t('.delete'), student_path(@student),
                    method: :delete,
                      data: { confirm: t('.delete_data_confirm') }, class: 'delete-student-button'
          .card-body.my-4
            .container-fluid
              = render 'form'

