= stylesheet_link_tag 'views/students/index'
= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'

.container.text-center
  .row
    .col-sm-3
      %h1 Students
  .row
    .col-sm-12
      - @students.each do |student|
        .row
          .col-sm-3
            .card.mt-2.mb-2
              .card-img-top.d-flex.flex-column.my-auto
                .fa.fa-user.fa-5x.mx-auto
          .col-sm-9
            .card.text-center.mt-2.mb-2
              .card-body.d-flex.flex-column
                .card-title.mb-auto= student.name
                .card-text.mb-auto= student.email
                .button.btn.btn-primary.btn-block.my-auto.mx-auto
                  = link_to student_path(student), class: 'details-button' do
                    See details

      - if @students.blank?
        %p 'Sem estudantes'
