= stylesheet_link_tag 'views/students/index'

.row.pt-4.text-center
  .col-xl-12.my-4
    %h1= t('.students')
.row
  .col-xl-12
    - @students.each do |student|
      .container-fluid.border.rounded.my-4.w-75.shadow.bg-white
        .row
          .col-lg-2.px-0
            .card.mt-2.mb-2.img-user-card.mx-3.shadow-sm.bg-light
              .card-img-top.d-flex.flex-column.my-auto.h-auto.w-auto.align-self-center
                - if student.avatar.present?
                  = image_tag student.avatar.index_thumb.url
                - else
                  .fa.fa-user.fa-5x

          .col-xl-10.text-center
            .card.my-2.student-content.shadow-sm.bg-light
              .card-body
                %h4.card-title.mb-auto= student.name
                .card-text.mb-auto= student.email
                .button.btn.btn-dark.shadow.mt-2{ data: { toggle:'tooltip', placement: 'top', title: t('.click_to_see_student_info_and_options') } }
                  = link_to t('.see_details'), student_path(student), class: 'details-button'

    - if @students.blank?
      %p t(.'no_students')

.container-fluid.my-4.text-center
  = paginate @students, theme: 'twitter-bootstrap-4',
                        pagination_class: 'pagination-md',
                        nav_class: 'd-inline-flex'
