.container-fluid.border
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    = link_to students_path, class: 'navbar-brand' do
      .fa.fa-graduation-cap.fa-2x
    %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#navbarSupportedContent' }, 'aria-controls': 'navbarSupportedContent', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav
        %li.nav-item
          = link_to t('.students'), students_path, class: 'nav-link'
        %li.nav-item
          = link_to t('.professors'), professors_path, class: 'nav-link'
        %li.nav-item
          = link_to t('.new_student'), new_student_url, class: 'nav-link'
        %li.nav-item
          = link_to t('.new_professor'), new_professor_url, class: 'nav-link'
