= stylesheet_link_tag 'views/professors/edit'

.container-fluid.my-4
  .row
    = render 'professor_info'

    .col-xl-9.my-4
      .container-fluid
        .card
          .card-header
            .row
              .col.h2= t('.edit_professor_attributes_title')
              .col
                %ul.nav.justify-content-end
                  %li.nav-item
                    %li.nav-link
                      = link_to t('.back'), professor_path(@professor), class: 'show-professor-link'
                  %li.nav-item
                    %li.nav-link
                      = link_to t('.delete'), professor_path(@professor),
                    method: :delete,
                      data: { confirm: t('.delete_data_confirm') }, class: 'delete-professor-button'
          .card-body.my-4
            .container-fluid
              = render 'form'

