= stylesheet_link_tag 'views/professors/index'

.container-fluid.text-center
  .row.pt-4
    .col-xl-12.my-4
      %h1= t('.professors')
  .row
    .col-xl-12
      - @professors.each do |professor|
        .row.justify-content-center
          .col-sm-3
            .card.mt-2.mb-2.img-user-card
              .card-img-top.d-flex.flex-column.my-auto
                .fa.fa-user.fa-5x.mx-auto
          .col-xl-9
            .card.text-center.mt-2.mb-2.professor-content
              .card-body.d-flex.flex-column
                %h4.card-title.mb-auto= professor.name
                .card-text.mb-auto= professor.cellphone
                .button.btn.btn-primary.btn-block.my-auto{ data: { toggle:'tooltip', placement: 'top', title: 'Click to see professor info and options' } }
                  = link_to t('.see_details'), professor_path(professor), class: 'details-button'

      - if @professors.blank?
        %p 'Sem professores'
