= stylesheet_link_tag 'views/professors/show'

.container-fluid.my-4
  .row
    = render 'professor_info'

    .col-xl-9.my-4
      .container-fluid
        .card.professor-attributes-content
          .card-header
            .row
              .col.h2= t('.professor_attributes_title')
              .col
                %ul.nav.justify-content-end
                  %li.nav-item
                    %li.nav-link
                      = link_to t('.edit'), edit_professor_path(@professor)
                  %li.nav-item
                    %li.nav-link
                      = link_to t('.delete'), professor_path(@professor),
                          method: :delete,
                            data: { confirm: t('.delete_data_confirm') }, class: 'text-danger'
          .card-body.my-4
            .container-fluid
              .table.border-bottom
                .tbody
                  %tr
                    .row.border-top
                      .col= Professor.human_attribute_name(:name)
                      .col= @professor.name
                  %tr
                    .row.border-top
                      .col= Professor.human_attribute_name(:cellphone)
                      .col= @professor.cellphone
